.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card-container h3 {
  color: #2e53da;
  font-weight: 700;
  font-size: 14px;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.card {
  width: 100%;
  margin-bottom: 1.5rem;
  box-shadow: 0px 5.73469px 37.2755px -11.4694px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 11.5px;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}

.card > .gst-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 12px;
}

.card > .gst-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card > .gst-buttons > .button {
  background-color: #2e53da;
  padding: 0.4rem 0.4rem;
  color: white;
  font-size: 11px;
  box-shadow: 4.05052px 4.05052px 19.4425px rgba(46, 83, 218, 0.47);
  border-radius: 7.29094px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70px;
}

input::content {
  text-transform: uppercase;
}

.month-button {
  margin-top: 0.5rem;
  user-select: none;
  background-color: #2e53da;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.calendar {
  margin-top: 2rem;
  background-color: #2e53da;
  border-radius: 6px;
  color: white;
  padding: 2rem;
  max-width: 400px;
  text-align: left;
  position: absolute;
  right: 200px;
  display: none;
}

.calendar-container:hover .calendar {
  display: block;
}

.calendar::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background-color: #2e53da;
  right: 10px;
  top: -10px;
  transform: rotate(45deg);
}

.years {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.months {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 1rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 980px) {
  header {
    display: none;
  }

  .calendar::before {
    left: 50px;
  }

  .card-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  body > .logo {
    display: inline-block;
    text-align: center;
  }

  .footer {
    z-index: 10;
    background-color: #f2f6fe;
    position: fixed;
    left: 50%;
    bottom: 0;
    padding-bottom: 10px;
    transform: translate(-50%, 0);
    width: 400px;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media screen and (max-width: 750px) {
  .card-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .search-container {
    display: block;
  }
}
